extends ../layouts/base

block metas
  meta(name="Author" content="北京凡度网络")
  meta(name="keywords" content="拇指妈妈,圣元优博")
  meta(name="Description" content="圣元国际拇指妈妈微信群聊系统")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

block title
  title 拇指妈妈微信群聊系统

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/ionic.min.css")

block main
  - var items = [1, 2, 3];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [4, 5 ,6];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [7, 8, 9];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [10, 11, 12];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [13, 14, 15];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [16, 17, 18];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [19, 20, 21];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}
  - items = [22, 23, 24];
  .row
    - each i in items
      .col
        a(href='/chat?openid=#{i}GyODt_j-SF3ZOEO9kXIfAk09ivo&nickname=用户#{i}&sex=1&headimgurl=http://106.39.231.44:3000/uploads/avatar/#{i}.png&remark=%E5%B8%85%E5%B8%85%E5%B8%85...')
          button.button.button-positive.button-block 用户#{i}